************t
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

* {
  margin: 0;
  padding: 0;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
  --color-text:#111;
  --color-nav-background: #ebeff4;
  --color_ul_background_2: #c2c2c2;
  --color_background_fourth: #136BCF;
  --color_button_background: #ff7800;
  --color_svg: #808080;
  --color_background: #ADD8E6;
  --color_button_text: #ffffff;
  --color_text_fourth: #ffffff;
  --color_text_secundary: #000000;
  --color_text_third: #808080;
  --color_background_secondary: #f0f8ff;
  --color_background_third: #ffffff;
  --color_background_textcloud: #1B2033;
  --color_border: #ffffff;
  --color_background_fifth: #6376B1;
  --color_radio_button: #afc0f5;
}

/* dit zijn alle dark mode kleuren */
@media (prefers-color-scheme: dark) {
  :root{
    --color_background_secondary: #18171e;
    --color_text_secundary: #888888;
    --color-text:#cfcfcf;
    --color_background: #044b85;
    --color_background_fourth: #0851a5;
  }
}

/* hier zorg ik ervoor dat alle animaties uit staan voor mensen die dat willen */
@media (prefers-reduced-motion: reduce) {
  main :nth-of-type(1) video {
    animation: unset;
  }  
}

/* hier zorg ik ervoor dat ik de letters groter kan maken als de big knop gechecked is die in de html staat. */
html:has([value="big"]:checked) {
  font-size: 1.1em;
}

/* dit zijn alle fonts die ik nodig heb */
@font-face {
  font-family: Blizzard-normal-font;
  src: url(../fonts/blizzard-400-normal.woff);
}
@font-face {
  font-family: Blizzard-head-font;
  src: url(../fonts/blizzard-700-normal.woff);
}
@font-face {
  font-family: Blizzard-head2-font;
  src: url(../fonts/h2-text.woff2);
}
@font-face {
  font-family: Blizzard-p-text-font;
  src: url(../fonts/p-text.woff);
}
/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* ********************************************************** */
/* Hier zijn een aantal standaard settings voor bepaalde text */
/* ********************************************************** */

h2 {
  font-family: Blizzard-head2-font;
  text-transform: uppercase;
}
h3 {
  font-family: Blizzard-head-font;
  text-transform: uppercase;
}
p {
  font-family: Blizzard-normal-font;
}
main a, footer a {
  font-family: Blizzard-head2-font;
  text-decoration: none;
  text-transform: uppercase;
}
nav a {
  font-family: Blizzard-head2-font;
  text-decoration: none;

}

video {
  max-width:100%;
}
/* ********************************************************** */
/* Hier zijn een aantal standaard settings voor bepaalde text */
/* ********************************************************** */





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
/* img {
  width: 20%;
} */

/****************/
/*    Header    */
/****************/

header {
  position: sticky;
  top: 0;
  z-index: 100;
  min-height:4em;
  padding:0 1em;
  background-color: lightgray;
  line-height:1;
  display: flex;
  justify-content: space-between;
  align-content: center;
/*   position: absolute; */
 
}

header button:nth-of-type(1){
  display: block;
}

header button span{
  position: absolute;
  display: block;
  z-index: 150;
  width: 1.5em;
  height: .15em;
  background-color: black;
  
}

header button span:nth-of-type(1){
  transform: translateY(-.5em);
}

header button span:nth-of-type(2){
  transform: translateY(.5em);
}

header > a:first-of-type {
  /* om het boek en de titel te positioneren */
  display:grid;
  grid-template-columns:min-content min-content;
  align-items:center;
  
  font-weight:bold; 
}

header a:first-of-type img{
  width: auto;
  height: 2em;
  
}

header button {
  padding:1em;
  display:flex;
  align-items:center;
  gap:.25em;
  appearance:none;
  background-color:var(--button-background);
  border:none;
  border-radius:.25em; 
  font:inherit;
  text-align:center;
  color:var(--button-color);
}

header button img {
  height:2em;
}

header > button:nth-child(2){
  order: -100 ;

}
/****************/
/*    Header    */
/****************/


/****************/
/*   Navigatie  */
/****************/
nav button {
  justify-self:start;
 }

 nav:first-of-type{
  position: relative;
  display: flex;
  padding:1em;
  z-index: 200;
  display:grid;
  align-content:start;
  gap:1em;   
  background-color: var(--color-nav-background); 
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 1em;
  translate: -120% 0;

}
/* hier zorg ik dat de nav niet te zien is voordat er op het hamburger menu word geklikt */



nav:last-child{
  position: relative;
  display: flex;
  padding:1em;
  z-index: 200;
  display:grid;
  align-content:start;
  gap:1em;   
  background-color: var(--color-nav-background); 
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 1em;
  translate: 150% 0;
}
/* hier zorg ik dat de nav niet te zien is voordat er op het hamburger menu word geklikt */

nav.open {
  
  top: 0;
  bottom: 0;
  left: 0;
  /* right: -1em; */
  
  translate: 0 0;
  
  transition: .3s;
}
/* hier zorg ik dat als mijn java geactiveerd word dat mijn nav op de goede positie komt */

nav.opennummertwee {
  top: 0;
  bottom: 0;
  right: 0;
  left: 1em;
  translate: 0 0;

  transition: .3s;
} 
/* hier zorg ik dat als mijn java geactiveerd word dat mijn nav op de goede positie komt */


/* hierna doe ik de styling van de interne nav */
nav ul { 
  margin:0; 
  padding:0em;
  list-style:none;
}

nav:nth-of-type(1) ul a {
  display:flex;
  align-items:center;
  column-gap:.25em;
  font-size: 1.3em;
  color: var(--color-text);
  padding: .5em;
  
}

nav a.active {
  font-weight:bold;
}


nav > a svg {
  display: flex;
  width: 25%;
  align-self: center;
  position: absolute;
  left: 7.5em;
  top: 1em;
  height: 2.5em;
}

nav:nth-of-type(1) a img {
  position: relative;
  left: 15%;
  right: 15%;
  width:70%;
  height: auto;
  background-color: var(--color-nav-background);
}

header button img {
  width: 2em;
}

nav button img {
  width: 1em;
  height: 1em;
}
/****************/
/*   Navigatie  */
/****************/


/*******************************/
   /* ___second navigation___ */
/*******************************/
/* hierna doe ik de styling van de interne nav */
nav:nth-of-type(1) > a:last-child{
  background-color: var(--color_button_background);
  text-align: center;
  font-size: 1.3em;
  border-radius: 10px;
  padding-top: .5em;
  padding-bottom: .5em;
}


nav:nth-of-type(2) button {
  position: absolute;
  right: 1em;
 }

 nav:nth-of-type(2) > a{
  background-color: var(--color_background_fourth);
 }

 nav:nth-of-type(2) ul svg {
  width: 1em;
  height: 1em;
  top: .5em;
  color: var(--color_svg);
}

 nav:nth-of-type(2) > svg {
  position: absolute;
  right: 5em;
}

nav:nth-of-type(2) ul{
  position: relative;
  top: 3em;
}


nav:nth-of-type(2) ul li a{
  padding: 0;
  margin-left: .8em;
  font-size: 1.3em;
  color: var(--color-text);
  align-items:center;
}

nav:nth-of-type(2) ul {
  align-content: center;
  align-items: center;

}

nav:nth-of-type(2) ul:nth-of-type(2){
  margin-top: 1em;
  background-color: var(--color_ul_background_2);
  position: absolute;
  
  top: 18em;
  bottom: 0;
  right: 0;
  left: 0em;
  padding-left: 0em;
  
}

svg {
  position: relative;
  width: 3em;
  aspect-ratio: 1;
  padding: 0.5em;
}

nav:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(1) a{
  background-color: var(--color_background_fourth);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-nav-background);
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

nav:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(1) svg:nth-of-type(1){
  top: 0;
  color: var(--color-nav-background);
}

nav:nth-of-type(2) ul:nth-of-type(2) li{
  margin-left: .8em;
}

nav:nth-of-type(2) ul:nth-of-type(2) li:last-of-type{
  position: relative;
  margin-top: 2em;
  left: 3.7em;
}

nav label{
  position: absolute;
  font-size: 1.3em;
  margin-top: .5em;
}

nav label:nth-of-type(2){
  left: 4em;
}

/*******************************/
   /* ___second navigation___ */
/*******************************/

ul {
  list-style: none;
}

/*******************************/
   /* ________footer__________ */
/*******************************/
footer{

  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  gap: 1em;
  background-color: #1B2033;
  
}

footer ul:nth-of-type(1) {
  display: flex;
}

footer P {
  color: var(--color_text_fourth);
}

footer A {
  color: var(--color_background);
  text-decoration: underline;
}

footer h2 {
  font-size: 1.3em;
  color: var(--color_background_secondary);
  padding-top: 1em;
  padding-bottom: .5em;
}

footer details {
  color: var(--color_background_secondary);
}

footer summary {
  padding-top: 1em;
  font-size: 1.5em;
  color: var(--color-nav-background);
}

footer img {
  width: 40%;
}

footer ul:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--color_background_third);
}

footer ul:nth-of-type(2) li{
  font-size: 1.2em;
  border-right: white solid 1px;
  border-left: white solid 1px;
  padding: .7em;
}

footer ul:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--color_background_third);
}

footer ul:nth-of-type(3) li{
  border-right: white solid 1px;
  border-left: white solid 1px;
  padding: .5em;
  padding-top: 1em;
}

footer ul:nth-of-type(4){
  display: flex;
}

footer ul:nth-of-type(4) img{
  width: 16vw;
  margin-top: 1em;
  margin-bottom: 1em;
}

footer section:nth-of-type(1) {
  background-color: var(--color_background);
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  gap: 1em;
  height: 80vh;
  
}

footer section:nth-of-type(1) img{
  position: absolute;
  object-fit: cover;
  height: 80vh;
  width: 100vw;
}


footer section:nth-of-type(1) h2 {
  position: relative;
  top: 1.8em;
  z-index: 55;
  font-size: 2.5em;
  color: var(--color_button_text);
}

footer section:nth-of-type(1) a {
  position: relative;
  top: 2.6em;
  z-index: 55;
  font-size: 1.3em;
  color: var(--color_button_text);
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-bottom: .7em;
  padding-top: .7em;
  background-color: var(--color_button_background);
  text-decoration: none;
}
/*******************************/
   /* ________footer__________ */
/*******************************/


/* hiermee zorg ik dat dingen die ik niet wil laten zien maar wel gelezen moeten kunnen worden door mensen die een screenreader gebruiken*/
.visually-hidden {
	position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
} 
/* https://www.a11yproject.com/posts/how-to-hide-content/ */